// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
.screenShot {
  max-width: 95%;
  margin: 0 auto;
  display: block;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
